<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenges</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="slide">
        <ul>
            <li> Social engineering attacks are hard to predict/foreseen beforehand each time </li>
            <li> Trade-off between functionality & cost & security </li>
            <li> Large data sets might be required for training and needed to be updated </li>
            <li> NLP techniques for different languages </li>
            <li> Educating users are also hard due to the ack of technological knowledge, constant evolution of the attacks, sophistication of the attacks </li>
            <li> Securing communication protocols and interfaces has a huge cost, additional hardware or software components might be required </li>
            <li> Shutting down vulnerable technologies (like 2G) are challenging due to their usefulness in some cases</li>
        </ul>
        <img src="../static/figures/money.jpg" alt="Money">
    </div>
    <button class="back-button" onclick="window.location.href='/presentation'">Back to Presentation</button>


</body>
</html>