<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <ul>
                    <li>Rule based approach</li>
                    <li>ML based approach</li>
                </ul>

 <div class="slide">
            <h2>Detection Methods</h2>
            <h3>Rule based approach</h3>

            <h3>ML based approach</h3>

            <ol>
                <li>About data </li>
                <p> Add the sms_disrtibution.png. Looks like we have a balanced data set.</p>
                <p> Adjust the data set. Clean the unclear text, make all text lower case, get rid of the punctuation, unnecessary spaces.</p>
                <p>Then get rid of the stopwords, such as: oysa, ayrıca, bazen, falan, zira etc</p>
                <p>We draw wordcloud. add wordcloud.png</p>
                <li>Feature extraction (TF-IDF, embeddings).</li>
                <li>Model training and evaluation.</li>
            </ol>
        </div>
</body>
</html>