<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Work</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="slide">
        <ul>
            <li> Smishing is still a significant and growing threat </li>
            <li> AI/ML this time will be both useful and harmful for detection the patterns and creating the patterns </li>
            <li> Multi-layered approach is needed including multiple partners</li>
            <li> Adaptive and scalable frameworks can be developed</li>
            <li> Awareness, education is needed! People actually click and believe that messages!</li>
            <li> Add new rules, update models constantly</li>
            <li> ŞU URL DEFANGING, SANDBOXTA ÇALIŞTIRMAKTAN MUHAKKAK BAHSET</li>
        </ul>
        <img src="../static/figures/phones.jpg" alt="Cellular network">
    </div>
    <button class="back-button" onclick="window.location.href='/presentation'">Back to Presentation</button>


</body>
</html>