<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="presentation-container">
        <h1>SMS Phishing Attack Detection</h1>

        <div class="slide">
            <ul>
                <li><a href="{{ url_for('problem_definition') }}">Problem Definition</a></li>
                <li><a href="{{ url_for('literature_search') }}">Literature Search</a></li>
                <li><a href="{{ url_for('rule_based_detection') }}">Rule Based Detection</a></li>
                <li><a href="{{ url_for('ml_based_detection') }}">ML Based Detection</a></li>
                <li><a href="{{ url_for('results') }}">Results</a></li>
                <li><a href="{{ url_for('challenges') }}">Challenges</a></li>
                <li><a href="{{ url_for('future_work') }}">Future Work</a></li>
            </ul>
            <p></p>
        </div>

        <button class="back-button" onclick="window.location.href='/'">Back to Home</button>
    </div>
</body>
</html>