<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="presentation-container">
        <h1>SMS Phishing Detection</h1>

        <section class="slide">
            <h2>Outline</h2>
            <ul>
                <li>Problem Definition</li>
                <li>Literature Search</li>
                <li>Detection Methods</li>
                <ul>
                    <li>Rule based approach</li>
                    <li>ML based approach</li>
                </ul>
                <li>Results</li>
                <li>Challenges</li>
                <li>Future Work</li>
            </ul>
            <p></p>
        </section>

        <section class="slide">
            <h2>Problem Definition</h2>
            <p></p>
        </section>

        <section class="slide">
            <h2>Literature Search</h2>
        </section>

        <section class="slide">
            <h2>Detection Methods</h2>
            <h3>Rule based approach</h3>

            <h3>ML based approach</h3>

            <ol>
                <li>About data </li>
                <p> Add the sms_disrtibution.png. Looks like we have a balanced data set.</p>
                <p> Adjust the data set. Clean the unclear text, make all text lower case, get rid of the punctuation, unnecessary spaces.</p>
                <p>Then get rid of the stopwords, such as: oysa, ayrıca, bazen, falan, zira etc</p>
                <p>We draw wordcloud. add wordcloud.png</p>
                <li>Feature extraction (TF-IDF, embeddings).</li>
                <li>Model training and evaluation.</li>
            </ol>
        </section>

        <section class="slide">
            <h2>Results</h2>
        </section>

        <section class="slide">
            <h2>Challenges</h2>
        </section>

        <section class="slide">
            <h2>Future Work</h2>
        </section>

        <button class="back-button" onclick="window.location.href='/'">Back to Home</button>
    </div>
</body>
</html>