<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem Definition</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="slide">
        <ul>
            <li> <b> Exploitation of SMS system vulnerabilities: </b> lack of security controls, mutual authentication etc. </li>
            <li> <b> Increasing threat to privacy and security: </b> banking systems, sensitive financial/health/personal data sharing and authenticating </li>
            <li> <b> Global scale of mobile device usage: </b> Over 5 billion mobile phone users </li>
            <li> <b> Integration with other attack vectors: </b> Possibility to usage as a gateway for broader attacks, ransomware, supply chain etc. </li>
            <li> <b> Multi-vendor ecosystem: </b> Many operator, distributor, infrastructure businesses works together </li>
        </ul>
        <img src="../static/figures/cellular_network.png" alt="Cellular network">
        <img src="../static/figures/evolution_sms.png" alt="Evolution of SMS">
    </div>
    <button class="back-button" onclick="window.location.href='/presentation'">Back to Presentation</button>


</body>
</html>